.employee-graph-container {
    padding: 20px;
}

svg {
    border: 1px solid #ccc;
    border-radius: 8px;
}

.link {
    stroke: #ccc;
    stroke-width: 2px;
}

.node circle {
    cursor: pointer;
}

.node text {
    pointer-events: none;
}

/* .node {
    transition: all 0.3s ease-in-out;
}

.node:hover {
    filter: none;
    opacity: 1;
}

.node:not(:hover) {
    filter: blur(5px);
    opacity: 0.5;
} */